<a href="https://colab.research.google.com/github/renatoandre80/Machine-Learning--Classifica-o-de-vinhos/blob/main/Machine_learning_Classifica%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
arquivo=pd.read_csv('/content/wine_dataset.csv')

In [5]:
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [6]:
arquivo

      fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0               7.4              0.70         0.00  ...      9.4        5    red
1               7.8              0.88         0.00  ...      9.8        5    red
2               7.8              0.76         0.04  ...      9.8        5    red
3              11.2              0.28         0.56  ...      9.8        6    red
4               7.4              0.70         0.00  ...      9.4        5    red
...             ...               ...          ...  ...      ...      ...    ...
6492            6.2              0.21         0.29  ...     11.2        6  white
6493            6.6              0.32         0.36  ...      9.6        5  white
6494            6.5              0.24         0.19  ...      9.4        6  white
6495            5.5              0.29         0.30  ...     12.8        7  white
6496            6.0              0.21         0.38  ...     11.8        6  white

[6497 rows x 13 columns]

In [7]:
arquivo['style']=arquivo['style'].replace('red',0)

In [8]:
arquivo['style']=arquivo['style'].replace('white',1)

In [11]:
#Separando entre variáveis preditoras e variáveis alvo
y=arquivo['style'] # variável alvo
x=arquivo.drop('style',axis=1)

In [17]:
#Separando as variáveis entre treino e teste
from sklearn.model_selection import train_test_split

In [18]:
#Criando as variáveis de treino e teste
x_treino,x_teste,y_treino,y_teste=train_test_split(x,y,test_size=0.3)

In [19]:
#Algoritmo de machine learning:
from sklearn.ensemble import ExtraTreesClassifier
# criando o modelo
modelo=ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)
#Imprimindo os resultados:
resultado=modelo.score(x_teste,y_teste)
print('Acurácia',resultado)

Acurácia 0.9958974358974358

In [20]:
#Pegando algumas amostras:
y_teste[400:403]

2389    1
1817    1
4760    1
Name: style, dtype: int64

In [21]:
x_teste[400:403]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
2389            7.7              0.34         0.28  ...       0.29      9.2        6
1817            5.7              0.28         0.24  ...       0.44      9.4        5
4760            6.1              0.17         0.42  ...       0.47      9.5        5

[3 rows x 12 columns]

In [23]:
#realizando previsões:
previsao=modelo.predict(x_teste[400:403])

In [24]:
previsao

array([1, 1, 1])